.headingStyle{
    background-color: chocolate;
    color: azure;
    text-align: center;
    padding: 15px;
}

.largeText{
    font-size: 2rem;
}

.col{
    width: 100%;
    padding-left: 20px;
    margin-left: 20px;
}

.card{
    background: #ffda77;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    padding: 10px;
    width: 28%;
    display: inline-block;
    margin: 21px;
}

.cardTitle{
    text-align: center;
    margin-bottom: 5px;
}

.cardDesc{
    text-align: justify;
    margin-bottom: 5px;
}

.cardFooter{
    text-align: center;
    font-weight: bold;
}